.navbar {   
    opacity: 0.9;    
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url('../fonts/HelveticaNeueLTStd-Roman.otf');       
}

@font-face {
    font-family: 'BaskervilleMTStd-Regular';
    src: url('../fonts/BaskervilleMTStd-Regular.otf');       
}

@font-face {
    font-family: 'BaskervilleMTStd-Italic';
    src: url('../fonts/BaskervilleMTStd-Italic.otf');       
}

#menu{
    background-color: black;
    opacity: 0.6;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'HelveticaNeueLTStd-Roman';
    color: white;
    letter-spacing: 2pt;
    font-size: 14px;
}

#header{
    background-image: url("../images/iStock-478952680-1.png");   
    height: 600px;
    width: 100%;
}

#center-div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    margin: 0px auto;
}

#title{
    color: white;
    font-size: 35px;
    font-family: 'BaskervilleMTStd-Italic';
    letter-spacing: 1pt;
}

.title-p-1{
    font-family: 'BaskervilleMTStd-Italic';
    letter-spacing: 1pt;
    text-align: left;
}

hr{    
    margin-left: 0%;
    margin-right: 90%;     
    background-color: white;    
}

.p1{
    text-align: justify;
    margin-top: 3%;
    font-family: 'HelveticaNeueLTStd-Roman';
    font-size: 16px;
}

.p2{
    font-family: 'BaskervilleMTStd-Regular';
    font-size: 16px;
}

#sticky-footer {
    flex-shrink: none;
    background-color: #0e0e0e;
    text-align: center;
}

.footer{
    width: 15%;
    display:inline-block;  
    text-align: center;
}

.img-2{
    width: 5%;
    display:inline-block;  
    text-align: center; 
}

@media (max-width: 360px) {
    .footer{
        width: 30%;
        
    }
    #center-div{        
        min-height: 90vh;        
    }
  }